﻿/**
*
*	Name:			IRANSansX Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Apr 22, 2021
*	Updated on:		Apr 22, 2021
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونتایران سنس Xا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSansX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/IRANSansX-thin.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-thin.woff2') format('woff2');		
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/woff/IRANSansX-UltraLight.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/IRANSansX-light.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-light.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/IRANSansX-medium.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff/IRANSansX-demibold.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-demibold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff/IRANSansX-extrabold.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-extrabold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff/IRANSansX-black.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-black.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/IRANSansX-bold.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/IRANSansX-regular.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-regular.woff2') format('woff2');	
}


@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/IRANSansX-thin.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-thin.woff2') format('woff2');		
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/woff/IRANSansX-UltraLight.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');	
}
/* Number */

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-Light.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-Light.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-Medium.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-DemiBold.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2');		
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 800;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-ExtraBold.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2');			 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-Black.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-Black.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-Bold.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-Bold.woff2') format('woff2');	 	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/Webfonts/Woff/IRANSansXFaNum-Regular.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-Regular.woff2') format('woff2');	 	 
}