@import url(/fonts/fontiran.css);

body {
    direction: rtl;
    background-color: #eee !important;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 9px;
}

body::-webkit-scrollbar-thumb {
    background-color: #00293957;
    border-radius: 20px;
    width: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IRANSansX, sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 9px;
}
*::-webkit-scrollbar-thumb {
    background-color: #3a4d8b85 !important;
    border-radius: 20px;
    width: 5px;
}

a {
    text-decoration: none;
    color: inherit !important;
}

a:hover {
    color: inherit;
}

input {
    font-family: IRANSansX;
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-family: IRANSansX;
    border: none !important;
    outline: none !important;
    background-color: transparent;
}

.c-p {
    cursor: pointer;
}
.w-0 {
    width: 0 !important;
    overflow: hidden;
}
.op-0 {
    opacity: 0;
}

.css-1s2u09g-control {
    background: #edf8fc !important;
    border: 1px solid #dedede !important;
}

.css-b62m3t-container {
    width: 168px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    border-radius: 8px;
}

.css-1okebmr-indicatorSeparator {
    display: none;
}

.text-success-2 {
    color: #30e0a1 !important;
}
.text-danger-2 {
    color: #f6543e !important;
}
table > .scrollable > tbody > tr {
    width: 100%;
}
table > .scrollable > tbody > tr:nth-of-type(odd) > * {
    width: 100%;
    background-color: #f9f9f9;
}

.mx-1200 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.pr-176 {
    padding-right: 176px;
}

.px-32 {
    padding-right: 32px;
    padding-left: 32px;
}
@media (max-width: 786px) {
    .px-32 {
        padding-right: 0;
        padding-left: 0;
    }
    .css-b62m3t-container {
        width: 305px !important;
    }
}
@media (max-width: 550px) {
    .pr-176 {
        padding-right: 0;
    }
}

.max-w-1992 {
    max-width: 1992px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.12);
}
.max-w-1336 {
    max-width: 1336px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.text-success {
    color: #30e0a1 !important;
}

.text-primary-2 {
    color: #108abb;
}

.pt-12 {
    padding-top: 12px !important;
}

.w-100-vw {
    width: 100vw;
    padding: 50px;
}
.w-0 {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}

.Toastify__toast {
    direction: rtl !important;
}

.apexcharts-toolbar,
.apexcharts-yaxis,
.apexcharts-xaxis,
.apexcharts-grid {
    display: none !important;
}
.apexcharts-area-series,
.apexcharts-inner {
    height: 100px !important;
}

.my-chart {
    position: absolute;
    top: 30px;
}
.pb-100 {
    padding-bottom: 100px;
}

.bg-blur {
    filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark-2 {
    background: #0a0c0f !important;
    background-color: #0a0c0f !important;
}

.bg-gray {
    background: #20232c !important;
    background-color: #20232c !important;
}

.color-white-2 {
    color: #c9cbd1 !important;
}

.bg-dark-2 .css-1s2u09g-control {
    background: #0a0c0f !important;
    background-color: #0a0c0f !important;
}

.bg-dark-2 input {
    background: #0a0c0f !important;
    background-color: #0a0c0f !important;
    color: #fff;
}

.bg-dark-2 h1,
.bg-dark-2 span,
.bg-gray h1,
.bg-gray span,
.bg-gray p,
.bg-gray h6 {
    color: #c9cbd1 !important;
}
.bg-gray .Wizard__Upload-sc-1qs2d76-10 {
    color: rgb(145, 144, 144);
}

.bg-dark-2 thead tr,
.bg-dark-2 tbody {
    background: #20232c !important;
    color: #c9cbd1 !important;
}
.svg-white path {
    stroke: #fff;
}
